body {
    margin:0;
}

a{
	text-decoration:none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
    font-family: sans-serif;
    margin:0;
    font-size:16px;
}

.wrapper{
    display: inline-grid;
    margin: 1em;
    width:40vw;
}
.input-box{
    display:flex;
    flex-direction: column;
    margin-top:10px;
}

select{
    font-size:16px;
    height:40px;
}

input{
    font-size:16px;
    border: 1px solid black;
    margin-top:10px;
    height:40px;
    font-size:16px;

}

.result-box{
    padding:0.2em;
    width:fit-content;
}
.grid-box{
    display: grid;
    margin-top: 20px;
}

.navbar{
    background-color:#dbd3a9;
    padding:0em 1em 1em 1em;
    font-size:20px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.4);
}

.wrapper-title h2{
    margin-top:0;
    font-size:22px;
}

.footer{
    background-color: #dbd3a9;
    width: 100%;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.header-title{
    margin:0;
    margin-bottom: 10px;
    padding-top: 10px;
}

select{
    margin-bottom:15px;
}

.button-div button{
    cursor:pointer;
    border-radius:5px;
    border:none;
    box-shadow:0px 1px 2px 0px black;
    font-size:16px;
    transition: 0.2s ease;
}

.button-div button:hover{
    background-color:#dbd7d7;
}

.button-div{
    margin-top:2em;
}

button{
    padding: 10px 25px;
}

select{
    cursor: pointer;
}

.percentile-guide{
    display:none;
}

@media only screen and (max-device-width:1240px){
    .wrapper{
        width:90vw;
    }
    .grid-box{
        display: grid;
        margin-top: 20px;
    }
    .result-box p{
        font-size:14px;
    }
    .result-box{
        font-size:14px;	
        box-sizing:border-box;
    }
    .wrapper-title h2{
        margin-top:0;
        font-size:17px;
    }
    .input{
	    box-sizing:border-box;
        height:30px;
	}
    p{
        font-size:15px;
    }

}