body {
    margin:0;
}

a{
	text-decoration:none;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
    font-family:monospace;
    margin:0;
    font-size:16px;
}

.class-selector{
    height:30px;
}

.wrapper{
    display: inline-grid;
    margin: 1em;
}
.input-box{
    display:flex;
    flex-direction: column;
    margin-top:10px;
}

.input{
    padding-right:0;
    border: 1px solid black;
    margin-top:10px;
    height:30px;
    font-size:16px;
}

select{
    font-size:16px;
}

input{
    font-size:16px;
}

.result-box{
    padding:0.2em;
    width:fit-content;
}
.grid-box{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 30vw;
}

.navbar{
    width:100%;
    background-color:#dbd3a9;
    font-size:20px;
    padding-left:18px;
    padding-bottom:10px;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.4);
}

.wrapper-title h2{
    margin-top:0;
    font-size:22px;
}

.wrapper-title{
    max-width: 35vw;
}

.footer{
    background-color: #dbd3a9;
    width: 100%;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
}

.header-title{
    margin:0;
    margin-bottom: 10px;
    padding-top: 10px;
}

.sex{
    padding:1em 0em;
    margin-bottom: 15px;
}

.button-div{
    margin-top:1em;
}

@media only screen and (max-device-width:1240px){
    .grid-box{
        display: grid;
        margin-top: 20px;
        grid-template-columns: 60vw;
    }
    .result-box p{
        font-size:14px;
    }
    .result-box{
        font-size:14px;	
        box-sizing:border-box;
    }
    .wrapper-title{
        max-width: 50vw;
    }
    .wrapper-title h2{
        margin-top:0;
        font-size:16px;
    }
    .input{
	    box-sizing:border-box;
        height:30px;
	}

}